@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */




.border-decorator {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.border-decorator::before,
.border-decorator::after,
.border-decorator::nth-before,
.border-decorator::nth-after {
  content: '';
  position: absolute;
  background-color: black;
}

.border-decorator::before {
  width: 2rem; /* Adjust as needed */
  height: 1px; /* Adjust as needed */
  top: 0;
  right: 0;
}

.border-decorator::after {
  width: 1px; /* Adjust as needed */
  height: 2rem; /* Adjust as needed */
  bottom: 0;
  left: 0;
}

.border-decorator::nth-before {
  width: 2rem; /* Adjust as needed */
  height: 1px; /* Adjust as needed */
  top: 0;
  left: 0;
}

.border-decorator::nth-after {
  width: 1px; /* Adjust as needed */
  height: 2rem; /* Adjust as needed */
  bottom: 0;
  right: 0;
}